<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajax 1 - Text File</title>
</head>
<body>
    <h1>Making a get request using ajax</h1>
    <button id="button">Do a get request without loading the whole page</button>
    <p id="message"></p>

    <h1>Making a get request using a form</h1>
    <form action="/" method="get">
        <input type="text" name="text" id="text" value="This is a form" disabled>
        <input type="submit" value="Make a get request using form">
    </form>

    <script>
        //Create event Listener
        loadText = () => {
            console.log(`button CLicked`);
            // Create the CHR OBJECT
            let xhr = new XMLHttpRequest();
            console.log("ready State = " + xhr.readyState);
            console.log(xhr);
            //open -> type, uer/file, asyc

            //i've not added text to the query string
            xhr.open("GET", "/", true);

            xhr.onload = function(){
                if(this.status == 200){
                    let data = this.responseText;
                    document.getElementById("message").innerText = `Data recived from server is ${data}`;
                }
            }

            xhr.onerror = function(){
                document.getElementById("message").innerText = "Error Occured...";
            }
            //sends request
            xhr.send();
        }
        document.getElementById("button").addEventListener('click', loadText);
    </script>
</body>
</html>